# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# micro-ecc
/DW3XXX_API_rev9p3/API/Build_Platforms/nRF52833-DK/sdk/external/micro-ecc/micro-ecc

# SES
*.emSession
*.jlink
*.ind
/TWR_Demo/secure_bootloader/ses/Output/*
/TWR_Demo/application/ses/Output/*
/DW3XXX_API_rev9p3/API/Build_Platforms/nRF52833-DK/Output/*
